/* リズムキープアニメーション */
.white1 {animation: tempo calc((256s/74.7)) linear calc((1s/30)*26) infinite;}
.white2 {animation: tempo calc((256s/74.7)) linear calc((1s/30)*52) infinite;}
.white3 {animation: tempo calc((256s/74.7)) linear calc((1s/30)*78) infinite;}
.white4 {animation: tempo calc((256s/74.7)) linear calc((1s/30)*104) infinite;}
@keyframes tempo {
    0% {opacity: .2;}
    25% {opacity: 0;}
    100% {opacity: 0;}
}

/* marginで歌詞を下に押し出し、中央揃えを実装 */
.code {
    margin: 0 9.5vh;
    opacity: 0;
}
.kasi {opacity: 0;}
.box {animation:linear 1}
@keyframes scene {0%,100% {background: #fff; color: #000;}}
@keyframes opacity1 {0%,100% {opacity: 1;}}

#bo11 {
    animation-name: scene,scene,scene,scene,scene,scene,scene,scene,scene,scene;
    animation-duration: calc((256s/74.7)*2),
                        calc((256s/74.7)*3),
                        calc((64s/74.7)*3.5),
                        calc((256s/74.7)*2),
                        calc((256s/74.7)*3),
                        calc((256s/74.7)*2),
                        calc((256s/74.7)),
                        calc((256s/74.7)*3),
                        calc((256s/74.7)*3),
                        calc((256s/74.7)*2);
    animation-delay: calc(26s/30),
                     calc(335s/30),
                     calc(746s/30),
                     calc(849s/30),
                     calc(1158s/30),
                     calc(1672s/30),
                     calc(1981s/30),
                     calc(2392s/30),
                     calc(2804s/30),
                     calc(3215s/30);
}
#bo11>.code {
    animation-name: scene,scene,scene,scene,scene,scene,scene,scene,scene,opacity1;
    animation-duration: calc((256s/74.7)*3),
                        calc((64s/74.7)*3.5),
                        calc((256s/74.7)*2),
                        calc((256s/74.7)*3),
                        calc((256s/74.7)*2),
                        calc((256s/74.7)),
                        calc((256s/74.7)*3),
                        calc((256s/74.7)*3),
                        calc((256s/74.7)*2),
                        1s;
    animation-delay: calc(335s/30),
                     calc(746s/30),
                     calc(849s/30),
                     calc(1158s/30),
                     calc(1672s/30),
                     calc(1981s/30),
                     calc(2392s/30),
                     calc(2804s/30),
                     calc(3215s/30),
                     calc(438s/30);
    animation-fill-mode: none,none,none,none,none,none,none,none,none,forwards;
}

#bo12 {animation-name: scene,scene,scene,scene,scene,scene,scene,scene,scene;
       animation-duration: calc((256s/74.7)),
                           calc((256s/74.7)),
                           calc((256s/74.7)),
                           calc((256s/74.7)),
                           calc((256s/74.7)),
                           calc((256s/74.7)*2),
                           calc((256s/74.7)),
                           calc((256s/74.7)),
                           calc((256s/74.7));
       animation-delay: calc(232s/30),
                        calc(644s/30),
                        calc(1055s/30),
                        calc(1570s/30),
                        calc(1878s/30),
                        calc(2084s/30),
                        calc(2701s/30),
                        calc(3112s/30),
                        calc(3524s/30);}